
/*Body Styles*/

@font-face{
    font-family: sans;
    src:url(sans-undertale.ttf) format('truetype'),
    url(sans-undertale.woff2) format('woff2'),
    url(sans-undertale.woff) format('woff');
}

body{
    background: black;
    background-color: black;
    font-size: 22px;
    font-family: sans;
    background: url(sansstill.gif) no-repeat left;
    background-size: 15%;
    background-position: 10% 50%;
}

html{
    height: 100%;
    background: black;
}

/*Header Styles*/

.header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0px 5px;
    border: 5px solid white;
    background: url(sans.png) no-repeat right;
    background-size: 15%;
    background-position: 75% 10%;
}

h1{
    font-size: 40px;
    margin: 10px 0px;
}

/*Calculator Container*/

#calculator{
    width: 420px;
    height: auto;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    padding-top: 30px;
    border: white 5px solid;
    color: white;
}

/*Display Clear and Delete Styles*/

#display{
    background-color: white;
    height: 60px;
    border: black solid 2px;
    padding-top: 5px;
    text-align: right;
    font-size: 30px;
    font-family: Comic Sans MS;
    color: black;
    font-family: sans;
}

.clear, .delete{
    height: 50px;
    border-radius: 0px;
    background-color: white;
    text-align: center;
    margin-top: 20px;
    margin-right: 16px;
}

#clearDelete{
    width: 100%;
}

/*Number Rows*/

button{
    margin: 10px;
    border-radius: 38px;
    width: 80px;
    height: 80px;
    border: none;
    font-size: 30px;
    font-family: Comic Sans MS;
    font-family: sans;
}

button:hover{
    filter: brightness(50%);
}

.operator:hover{
    filter: brightness(50%);
}

#equal{
    background-color: grey
}

.header:active{
    background: url(sansmad.gif) no-repeat right;
    background-size: 15%;
    background-position: 75% 10%;
}